<div class="title-datatable">
    <h1>Gateway</h1>
    <button (click)="AddGateway()" class="gateway-button">Add</button>
</div>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Devices</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gateway of gateways">
      <td>{{ gateway.name }}</td>
      <td>{{ gateway.address }}</td>
      <td>{{ gateway.devices.length }}</td>
      <td><button (click)="Details(gateway.usn)" class="gateway-button">Details</button></td>
    </tr>
  </tbody>
</table>